<!-- <main class="bg-gray-900 h-screen flex flex-col">
  <nav class="flex justify-between p-10">
    <div class="text-4xl font-bold text-white">Title</div>
  </nav>



  <div class="w-full flex flex-col justify-between items-center p-5 sm:p-10">
    <div class="w-full h-full border flex flex-col items-center justify-center md:max-w-11/12 lg:max-w-10/12">
      <div> Layers </div>
      <div class="self-start flex flex-row">
        <div>Biomarker Prediction on Genomic and Proteomic Data</div>
        <button>Next</button>
      </div>
      
    </div>
  </div>
  

  
  <div>

  </div>

</main> -->



<!-- MAIN CONTENT -->
<div class="py-10 px-3 w-full flex flex-col justify-center bg-gray-100 items-center">
  <div class="relative w-full flex flex-row md:max-w-10/12 lg:max-w-8/12">
    
    <!-- NAV MENU -->
    <div class="sticky hidden flex-[0.3] h-screen top-[10%] left-10 sm:flex p-4">
      <div class="fixed top-[10%] lg:top-[20%] flex flex-col gap-2">
        <a [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-black" class="text-black/[0.5] font-semibold hover:text-black">Project</a>
        <a [routerLink]="['/dataset']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-black" class="text-black/[0.5] font-semibold hover:text-black">Data Collection</a>
        <a [routerLink]="['/pending']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-black" class="text-black/[0.5] font-semibold hover:text-black">Models</a>
      
        <hr class="text-black/[0.3]">
        <a [routerLink]="['/synopsis']" routerLinkActive="text-black" class="text-black/[0.5] font-semibold hover:text-black">Synopsis</a>
      </div>
    </div>


    <!-- MAIN CONTENT -->
    <div class="flex-1"><router-outlet class="min-h-screen" /></div>
  </div>
</div>